*{
    box-sizing: border-box;
    margin: 0 auto;
}
#home{
background-image: linear-gradient(rgb(60, 232, 72),rgb(143, 234, 32),rgb(244, 120, 62));
   width:1528px ;
   height: 742px;
   /* background-image: url(../Image/hinh-nen-mau-cam_3.jpg); */
}
#header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    box-shadow:0px -0.5px 6px black ;
}
#h11{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgb(74, 68, 68),1px 1px 1px rgb(112, 112, 111);
    padding-top: 22px;
    padding-left: 10px;
    position: absolute;

}
#h22 ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    left: 240px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px black;
}
#h33:hover{
    opacity: 1;
    transform: scale(1.1);
}
#h22 a{
    text-decoration: none;
    color:rgb(10, 10, 10);
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(228, 224, 224),1px 1px 1px rgb(101, 101, 100);
    
}
#h44{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(228, 224, 224),1px 1px 1px rgb(101, 101, 100);
}
#h55{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(228, 224, 224),1px 1px 1px rgb(101, 101, 100);
}
#h66{
    background-color: rgb(255, 255, 255);
    width: 190px;
    height: 33px;
    border-radius: 5px;
    position:absolute;
    margin-top: -50px;
    margin-left: 1310px;
    box-shadow: 0px 1px 3px black;
}
#h77{
    width: 40%;
    height: 100%;
    float: left;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 4px;
}
#h88{
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-color: transparent;
    float: left;
    border-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 4px;
    padding-left: 14px;
}
#h66:hover{
    opacity: 1;
    transform: scale(1.1);
}
#section{
    width: 100%;
    height: 582px;
    overflow: auto;
}
#s11{
    width: 90%;
    height: 90%;
    background-color: white;
    margin-top: 20px;
    border-radius: 25px;
}
#s11 img{
    height: 230px;
    width: 230px;
    border-radius: 25px;
    margin-left:560px;
}
#s222{
    color: rgb(0, 0, 0);
    font-size:20px ;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(147, 144, 144),1px 1px 1px rgb(0, 0, 0);
    text-align: center;

}
#s111{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size:20px ;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(116, 115, 115),1px 1px 1px rgb(22, 22, 22);
}
#s112{
    text-align: center;
    color: white;
    font-size:20px ;
    border-radius: 20px;

}
#s11 textarea{
    margin-left: 380px;
    border-radius: 5px;
}
#s11 input{
    margin-left: 650px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
