*{
    box-sizing: border-box;
    margin: 0 auto;
}
#home{
    background-image: linear-gradient(rgb(60, 232, 72),rgb(143, 234, 32),rgb(244, 120, 62));
   width:1528px ;
   height: 742px;
   /* background-image: url(../Image/hinh-nen-mau-cam_3.jpg); */
}
#header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    box-shadow:0px -0.5px 6px black ;
}
#h11{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px 3px rgb(74, 68, 68),1px 1px 1px rgb(112, 112, 111);
    padding-top: 22px;
    padding-left: 10px;
    position: absolute;

}
#h22 ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    left: 240px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px black;
}
#h33:hover{
    opacity: 1;
    transform: scale(1.1);
}
#h22 a{
    text-decoration: none;
    color:rgb(10, 10, 10);
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(228, 224, 224),1px 1px 1px rgb(101, 101, 100);
    
}
#h44{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(228, 224, 224),1px 1px 1px rgb(101, 101, 100);
}
#h55{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(228, 224, 224),1px 1px 1px rgb(101, 101, 100);
}
#h66{
    background-color: rgb(255, 255, 255);
    width: 190px;
    height: 33px;
    border-radius: 5px;
    position:absolute;
    margin-top: -50px;
    margin-left: 1310px;
    box-shadow: 0px 1px 3px black;
}
#h77{
    width: 40%;
    height: 100%;
    float: left;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 4px;
}
#h88{
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    background-color: transparent;
    float: left;
    border-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 4px;
    padding-left: 14px;
}
#h66:hover{
    opacity: 1;
    transform: scale(1.1);
}
#section{
    width: 100%;
    height: 582px;
    overflow: auto;
}
#s1{
    width: 1000px;
    height: 500px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 25px;
    box-shadow: 0px 3px 5px black;
}
#s3{
    width: 100%;
    height: 500px;
    border-radius: 25px;
   
}
#s4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    color: rgb(248, 150, 22);
    font-style: italic;
    text-shadow: 0px 3px 5px rgb(246, 124, 24);
}
#s5{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
    color: rgb(106, 103, 103);
    font-style: italic;
    padding: 20px;
    
}
#s6{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
    color: rgb(106, 103, 103);
    font-style: italic;
    padding: 20px;

    text-align: center;
}
#s22{
    width: 500px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid rgb(2, 2, 2);
    background-color: rgb(244, 242, 240);
    margin-left: 140px;
}
#s33{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 253, 251);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
}
#s44{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 35px;
    padding: 10px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(148, 145, 145),1px 1px 1px rgb(0, 0, 0);
    text-align: center;
}
#s2221{
    position: absolute;
    margin-top: -100px;
}
#footer{
    width: 100%;
    height: 80px;
    clear: both;
    
}
#slideshow-container {
margin-top: 50px;
overflow: hidden;
position: relative;
width: 100%;
margin-left: 50px;
}

.slideshow-image {
width: 100px; 
height: 100px; 
position: relative;
animation: moveSlideshow 4s linear infinite; /* Adjust the duration and animation type as needed */
}

@keyframes moveSlideshow {
0%, 100% {
    transform: translateX(0);
}
25% {
    transform: translateX(-100%);
}
50% {
    transform: translateX(-200%);
}
75% {
    transform: translateX(-300%);
}
}
